.preloader {
  position: absolute;
  background-color: #F6F6F6;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
  }
  &__vector {
    display: block;
    margin: 0 auto;
    animation: do-levitation 1.2s alternate ease-in-out infinite;
  }
  &__caption {
    margin-top: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #979799;
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@keyframes background-fill {
  from {
    fill:#F6F6F6;
  }

  to {
    fill:#F8D5C8;
  }
}

#preloader-back-1, #preloader-face-1 {
  animation: background-fill 1.2s alternate 0s linear infinite;
}

#preloader-back-2, #preloader-face-2 {
  animation: background-fill 1.2s alternate 1s linear infinite;
}

#preloader-back-3, #preloader-face-3 {
  animation: background-fill 1.2s alternate 2s linear infinite;
}

#preloader-back-4, #preloader-face-4 {
  animation: background-fill 1.2s alternate 3s linear infinite;
}

#preloader-back-5, #preloader-face-5 {
  animation: background-fill 1.2s alternate 4s linear infinite;
}

#preloader-back-6, #preloader-face-6 {
  animation: background-fill 1.2s alternate 5s linear infinite;
}

#preloader-back-7, #preloader-face-7 {
  animation: background-fill 1.2s alternate 6s linear infinite;
}

#preloader-back-8, #preloader-face-8 {
  animation: background-fill 1.2s alternate 8s linear infinite;
}