@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0.5em);
  }
}

@keyframes do-levitation-big {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0.8em);
  }
}

@keyframes do-levitation-small {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0.8em);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.50);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}