.hero__vector.vector {
  position: relative;
  width: 50%;
  right: 130px;
}

.section_about.about {
  height: 100vh;

  @media (max-width: 950px) {
    height: 100%;
  }
}

.hint {
  margin-top: 180px;
  color: $secondaryColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  transition: all .3s;

  @media (max-width: 900px) {
    margin-top: 12px;
  }

  &:hover {
    font-size: 16px;
  }

  & svg {
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  &--video {
    position: absolute;
    bottom: -80px;
    
    @media (min-width: 1440px) {
      
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  &--people {
    position: absolute;
    margin: 0;
    bottom: 15%;
    left: 15%;
    z-index: 10;
  }

  &--about {
    position: absolute;
    bottom: 77px;

    @media (max-width: 950px) {
      display: none;
    }
  }
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: scroll hidden !important;
}

.fp-section,
.fp-tableCell {
  height: auto !important;
  min-height: 100%;
}

.description-streets {
  position: absolute;
}

@media (max-width: 768px) {
  .swiper {
    height: 660px;
  }

  .textProjects {
    display: none !important;
  }
}

@media (max-height: 850px) {
  .tooltip-main {
    display: none !important;
  }

  #section2 {
    overflow: hidden;
  }

  #section3 {
    overflow: hidden;
  }
}