.section {
  height: 100vh;
  width: 100%;
}

.hero {

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__text {
    margin-top: 230px;
    width: 50%;

    @media  (min-width: 1442px) {
      margin-top: 330px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: $titleColor;
    margin-bottom: 60px;
  }

  &__description {
    width: 450px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $titleColor;
  }

  &__vector {

    .vector {

      &__main {
        position: absolute;
        top: 100px;
        transition: all .8s;
        cursor: default;
        //&:hover {
        //  transform: scale(1.1);
        //}
      }

      &__column {
        position: absolute;
        top: 300px;
        left: 230px;
        z-index: 1;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }

      &__sim {
          right: 25px;
          position: absolute;
          top: 290px;
          z-index: 1;
          animation: do-levitation 1.2s alternate ease-in-out infinite;
      }

      &__smile {
        position: absolute;
        right: -40px;
        top: 409px;
        z-index: 1;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }

      &__cloud--first {
        position: absolute;
        top: 165px;
        left: 215px;
        z-index: 1;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }
      &__cloud--second {
        position: absolute;
        top: 240px;
        left: 270px;
        z-index: 2;
        animation: do-levitation 1s alternate ease-in-out infinite;
      }
      &__cloud--third {
        position: absolute;
        top: 200px;
        left: 350px;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }
    }
  }
}

.video {
  height: 100%;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    @media (min-width: 1440px) {
      margin-top: 100px;
    }
  }

  &__container {
    height: 100%;
    position: relative;
    margin-top: 0;
  }

  &__description {
    max-width: 542px;
    background: #fff;
    border: 2px solid $secondaryColor;
    border-radius: 6px;
    padding: 35px 25px;
    height: 245px;
    margin-top: 400px;
    z-index: 10;

    .description {

      &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: $titleColor;
        margin-bottom: 30px;
      }

      &__text {
        max-width: 445px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $titleColor;
      }
    }
  }

  &__link {
    color: $secondaryColor;
  }

  &__vector {
    width: 50%;
    position: relative;

    .vector-svg {
      position: relative;

      &__main {
        position: absolute;
        top: 110px;
        left: -220px;
      }

      &__picture {
        position: absolute;
        left: 130px;
        top: 145px;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }

      &__smile {
        position: absolute;
        right: -70px;
        top: 200px;
        animation: do-levitation 1.2s alternate ease-in-out infinite;
      }

      &__camera {
        position: absolute;
        right: -120px;
        top: 390px;
        animation: do-levitation-small 1.5s alternate ease-in-out infinite;
      }

      &__hearts {
        position: absolute;
        left: 80px;
        top: 150px;
        animation: do-levitation-big 1.8s alternate ease-in-out infinite;
      }
    }
  }
}

.about {

  &__content {
    width: 100%;
    display: flex;
  }

  &__description {
    max-width: 542px;
    background: #fff;
    border: 2px solid $secondaryColor;
    border-radius: 6px;
    padding: 35px 25px;
    margin-top: 400px;
    z-index: 10;

    .description {

      &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: $titleColor;
        margin-bottom: 30px;
      }

      &__text {
        max-width: 445px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $titleColor;
      }
    }
  }

  &__link {

  }

  &__vector {
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
    }
  }
}

.people {
  position: relative;

  &__block {
    background-image: url('../img/desktop.svg');
  }
}

.faq {

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__text {
    width: 70%;
    margin-top: 200px;

    @media (min-width: 1440px) {
      margin-top: 300px;
    }

    .text-block {

      &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: $titleColor;
        margin-bottom: 48px;
      }

      &__description {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $titleColor;
        margin-bottom: 24px;
        max-width: 625px;
      }

      &__links {

        .links {

          &__item {
            margin-bottom: 20px;
          }

          &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #101828;
            margin-left: 10px;
            cursor: pointer;
            transition: all .3s;

            span {
              display: block;
              max-width: 530px;
              margin-left: 10px;
            }

            svg {
              stroke: #101828;
              position: relative;
              top: 2px;
            }

            &:hover {
              color: $secondaryColor;
              text-decoration: underline;
            }

            &:hover svg {
              stroke: $secondaryColor;
            }
          }
        }
      }
    }

    .socials {
      margin-top: 60px;

      &__item {

        &:not(:first-child) {
          margin-left: 48px;
        }

        img {

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__image {
    width: 30%;

    svg {
      margin-top: 200px;
      animation: do-levitation 1.8s alternate ease-in-out infinite;

      &:hover {
        transform: scale(1.1);
        animation: none;
      }

      @media (min-width: 1440px) {
        margin-top: 250px;
      }
    }
  }
}