#interior_office {
.cls-1, .cls-10, .cls-135, .cls-138, .cls-157, .cls-158, .cls-159, .cls-165, .cls-189, .cls-49, .cls-79, .cls-83 {
  fill: none;
}

  .cls-2 {
    isolation: isolate;
  }

  .cls-13, .cls-181, .cls-3, .cls-50, .cls-7, .cls-8 {
    fill: #dddedf;
  }

  .cls-136, .cls-137, .cls-4, .cls-70, .cls-97, .cls-98 {
    fill: #f6f6f6;
  }

  .cls-10, .cls-122, .cls-125, .cls-126, .cls-127, .cls-128, .cls-13, .cls-139, .cls-14, .cls-140, .cls-142, .cls-145, .cls-146, .cls-148, .cls-156, .cls-157, .cls-158, .cls-181, .cls-185, .cls-187, .cls-28, .cls-30, .cls-33, .cls-4, .cls-49, .cls-57, .cls-59, .cls-62, .cls-66, .cls-7, .cls-70, .cls-74, .cls-81, .cls-82, .cls-84 {
    stroke: #575d68;
  }

  .cls-10, .cls-108, .cls-122, .cls-125, .cls-126, .cls-127, .cls-128, .cls-13, .cls-135, .cls-136, .cls-138, .cls-139, .cls-14, .cls-140, .cls-142, .cls-145, .cls-146, .cls-148, .cls-149, .cls-156, .cls-157, .cls-158, .cls-159, .cls-165, .cls-166, .cls-181, .cls-182, .cls-183, .cls-184, .cls-185, .cls-186, .cls-187, .cls-189, .cls-28, .cls-30, .cls-33, .cls-37, .cls-39, .cls-4, .cls-40, .cls-43, .cls-49, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-66, .cls-7, .cls-70, .cls-74, .cls-79, .cls-81, .cls-82, .cls-83, .cls-84, .cls-9, .cls-92, .cls-93, .cls-94 {
    stroke-miterlimit: 10;
  }

  .cls-10, .cls-108, .cls-122, .cls-125, .cls-126, .cls-127, .cls-128, .cls-13, .cls-135, .cls-136, .cls-138, .cls-139, .cls-14, .cls-140, .cls-142, .cls-145, .cls-146, .cls-148, .cls-149, .cls-156, .cls-159, .cls-165, .cls-166, .cls-182, .cls-183, .cls-184, .cls-185, .cls-186, .cls-187, .cls-28, .cls-30, .cls-33, .cls-37, .cls-39, .cls-4, .cls-40, .cls-43, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-66, .cls-7, .cls-70, .cls-74, .cls-79, .cls-81, .cls-82, .cls-83, .cls-84, .cls-9, .cls-92, .cls-93, .cls-94, .cls-97, .cls-98 {
    stroke-width: 0.4px;
  }

  .cls-5 {
    opacity: 0.35;
  }

  .cls-6 {
    clip-path: url(#clip-path);
  }

  .cls-8 {
    opacity: 0.36;
  }

  .cls-102, .cls-103, .cls-104, .cls-105, .cls-106, .cls-107, .cls-109, .cls-110, .cls-111, .cls-112, .cls-113, .cls-114, .cls-115, .cls-116, .cls-117, .cls-118, .cls-119, .cls-12, .cls-120, .cls-121, .cls-123, .cls-124, .cls-129, .cls-130, .cls-131, .cls-132, .cls-133, .cls-134, .cls-141, .cls-143, .cls-144, .cls-15, .cls-151, .cls-152, .cls-16, .cls-160, .cls-161, .cls-162, .cls-163, .cls-167, .cls-168, .cls-169, .cls-17, .cls-170, .cls-171, .cls-172, .cls-173, .cls-174, .cls-175, .cls-176, .cls-177, .cls-178, .cls-179, .cls-18, .cls-180, .cls-188, .cls-19, .cls-20, .cls-21, .cls-22, .cls-24, .cls-25, .cls-26, .cls-27, .cls-29, .cls-31, .cls-32, .cls-34, .cls-35, .cls-36, .cls-38, .cls-41, .cls-42, .cls-44, .cls-45, .cls-46, .cls-47, .cls-48, .cls-50, .cls-51, .cls-52, .cls-53, .cls-55, .cls-56, .cls-63, .cls-64, .cls-65, .cls-67, .cls-68, .cls-69, .cls-70, .cls-73, .cls-75, .cls-76, .cls-77, .cls-78, .cls-8, .cls-84, .cls-85, .cls-86, .cls-87, .cls-88, .cls-99 {
    mix-blend-mode: multiply;
  }

  .cls-141, .cls-89, .cls-9 {
    fill: #575d68;
  }

  .cls-9 {
    stroke: #f6f6f6;
  }

  .cls-11 {
    fill: #cecece;
  }

  .cls-12 {
    fill: url(#linear-gradient);
  }

  .cls-13, .cls-97 {
    fill-rule: evenodd;
  }

  .cls-14 {
    fill: #e9eaeb;
  }

  .cls-15 {
    fill: url(#linear-gradient-2);
  }

  .cls-16 {
    fill: url(#linear-gradient-3);
  }

  .cls-17 {
    fill: url(#linear-gradient-4);
  }

  .cls-18 {
    fill: url(#linear-gradient-5);
  }

  .cls-19 {
    fill: url(#linear-gradient-6);
  }

  .cls-20 {
    fill: url(#linear-gradient-7);
  }

  .cls-21 {
    fill: url(#linear-gradient-8);
  }

  .cls-22 {
    fill: url(#linear-gradient-9);
  }

  .cls-23 {
    fill: url(#linear-gradient-10);
  }

  .cls-24 {
    fill: url(#linear-gradient-11);
  }

  .cls-25 {
    fill: url(#linear-gradient-12);
  }

  .cls-26 {
    fill: url(#linear-gradient-13);
  }

  .cls-27 {
    fill: url(#linear-gradient-14);
  }

  .cls-28 {
    fill: #ff977b;
  }

  .cls-29 {
    fill: url(#linear-gradient-15);
  }

  .cls-30 {
    fill: #b988ff;
  }

  .cls-31 {
    fill: url(#linear-gradient-16);
  }

  .cls-32 {
    fill: url(#linear-gradient-17);
  }

  .cls-33 {
    fill: #ffa08a;
  }

  .cls-34 {
    fill: url(#linear-gradient-18);
  }

  .cls-35 {
    fill: url(#linear-gradient-19);
  }

  .cls-36 {
    fill: url(#linear-gradient-20);
  }

  .cls-108, .cls-135, .cls-136, .cls-138, .cls-149, .cls-166, .cls-182, .cls-183, .cls-184, .cls-186, .cls-37, .cls-39, .cls-40, .cls-43, .cls-58, .cls-60, .cls-61, .cls-79, .cls-92, .cls-93, .cls-94, .cls-97, .cls-98 {
    stroke: #333;
  }

  .cls-37 {
    fill: url(#linear-gradient-21);
  }

  .cls-38 {
    fill: url(#linear-gradient-22);
  }

  .cls-39 {
    fill: url(#linear-gradient-23);
  }

  .cls-40 {
    fill: url(#linear-gradient-24);
  }

  .cls-41 {
    fill: url(#linear-gradient-25);
  }

  .cls-42 {
    fill: url(#linear-gradient-26);
  }

  .cls-43 {
    fill: url(#linear-gradient-27);
  }

  .cls-44 {
    fill: url(#linear-gradient-28);
  }

  .cls-45 {
    fill: url(#linear-gradient-29);
  }

  .cls-46 {
    fill: url(#linear-gradient-30);
  }

  .cls-47 {
    fill: url(#linear-gradient-31);
  }

  .cls-48 {
    fill: url(#linear-gradient-32);
  }

  .cls-49 {
    stroke-width: 0.21183px;
  }

  .cls-51 {
    fill: url(#linear-gradient-33);
  }

  .cls-174, .cls-52, .cls-54, .cls-63, .cls-64, .cls-65, .cls-67, .cls-84, .cls-86, .cls-87 {
    fill: #eaeaea;
  }

  .cls-55 {
    fill: url(#linear-gradient-34);
  }

  .cls-56 {
    fill: url(#linear-gradient-35);
  }

  .cls-57 {
    fill: #f8d5c8;
  }

  .cls-58 {
    fill: url(#linear-gradient-39);
  }

  .cls-187, .cls-59, .cls-90, .cls-91, .cls-96 {
    fill: #ff4f12;
  }

  .cls-59, .cls-90 {
    opacity: 0.8;
  }

  .cls-60 {
    fill: url(#linear-gradient-40);
  }

  .cls-61 {
    fill: url(#linear-gradient-43);
  }

  .cls-62 {
    fill: #ff8666;
  }

  .cls-63 {
    opacity: 0.98;
  }

  .cls-144, .cls-64 {
    opacity: 0.27;
  }

  .cls-65 {
    opacity: 0.29;
  }

  .cls-66 {
    fill: #ffaf9c;
  }

  .cls-67 {
    opacity: 0.64;
  }

  .cls-68 {
    fill: url(#linear-gradient-44);
  }

  .cls-69 {
    fill: url(#linear-gradient-45);
  }

  .cls-139, .cls-71 {
    fill: #fff;
  }

  .cls-72, .cls-74 {
    fill: #afafaf;
  }

  .cls-73 {
    fill: url(#linear-gradient-46);
  }

  .cls-75 {
    fill: url(#linear-gradient-47);
  }

  .cls-76 {
    fill: url(#linear-gradient-48);
  }

  .cls-77 {
    fill: url(#linear-gradient-49);
  }

  .cls-78 {
    fill: url(#linear-gradient-50);
  }

  .cls-79 {
    stroke-dasharray: 2.04006;
  }

  .cls-80 {
    fill: #ffc5bb;
  }

  .cls-81 {
    fill: url(#linear-gradient-54);
  }

  .cls-82 {
    fill: url(#linear-gradient-56);
  }

  .cls-83 {
    stroke: #979799;
  }

  .cls-85 {
    fill: url(#linear-gradient-59);
  }

  .cls-86 {
    opacity: 0.75;
  }

  .cls-87 {
    opacity: 0.5;
  }

  .cls-156, .cls-88 {
    fill: #c6c6c6;
  }

  .cls-151, .cls-152, .cls-174, .cls-91, .cls-95 {
    opacity: 0.4;
  }

  .cls-92 {
    fill: url(#linear-gradient-60);
  }

  .cls-93 {
    fill: url(#linear-gradient-61);
  }

  .cls-94 {
    fill: url(#linear-gradient-62);
  }

  .cls-99 {
    fill: url(#linear-gradient-63);
  }

  .cls-100 {
    fill: url(#linear-gradient-64);
  }

  .cls-101 {
    fill: url(#linear-gradient-65);
  }

  .cls-102 {
    fill: url(#linear-gradient-66);
  }

  .cls-103 {
    fill: url(#linear-gradient-67);
  }

  .cls-104 {
    fill: url(#linear-gradient-68);
  }

  .cls-105 {
    fill: url(#linear-gradient-69);
  }

  .cls-106 {
    fill: url(#linear-gradient-70);
  }

  .cls-107 {
    fill: url(#linear-gradient-71);
  }

  .cls-108 {
    fill: url(#linear-gradient-76);
  }

  .cls-109 {
    fill: url(#linear-gradient-78);
  }

  .cls-110 {
    fill: url(#linear-gradient-79);
  }

  .cls-111 {
    fill: url(#linear-gradient-80);
  }

  .cls-112 {
    fill: url(#linear-gradient-81);
  }

  .cls-113 {
    fill: url(#linear-gradient-82);
  }

  .cls-114 {
    fill: url(#linear-gradient-83);
  }

  .cls-115 {
    fill: url(#linear-gradient-84);
  }

  .cls-116 {
    fill: url(#linear-gradient-85);
  }

  .cls-117 {
    fill: url(#linear-gradient-86);
  }

  .cls-118 {
    fill: url(#linear-gradient-87);
  }

  .cls-119 {
    fill: url(#linear-gradient-88);
  }

  .cls-120 {
    fill: url(#linear-gradient-89);
  }

  .cls-121 {
    fill: url(#linear-gradient-90);
  }

  .cls-122 {
    fill: url(#linear-gradient-91);
  }

  .cls-123 {
    fill: url(#linear-gradient-92);
  }

  .cls-124 {
    fill: url(#linear-gradient-93);
  }

  .cls-125 {
    fill: url(#linear-gradient-94);
  }

  .cls-126 {
    fill: url(#linear-gradient-95);
  }

  .cls-127 {
    fill: url(#linear-gradient-96);
  }

  .cls-128 {
    fill: url(#linear-gradient-97);
  }

  .cls-129 {
    fill: url(#linear-gradient-98);
  }

  .cls-130 {
    fill: url(#linear-gradient-99);
  }

  .cls-131 {
    fill: url(#linear-gradient-100);
  }

  .cls-132 {
    fill: url(#linear-gradient-101);
  }

  .cls-133 {
    fill: url(#linear-gradient-102);
  }

  .cls-134 {
    fill: url(#linear-gradient-103);
  }

  .cls-138 {
    stroke-dasharray: 1.91247 1.91247;
  }

  .cls-140 {
    fill: #eeeeef;
  }

  .cls-141 {
    opacity: 0.16;
  }

  .cls-142 {
    fill: #fafafa;
  }

  .cls-143 {
    fill: url(#linear-gradient-104);
  }

  .cls-145 {
    fill: url(#linear-gradient-105);
  }

  .cls-146 {
    fill: url(#linear-gradient-106);
  }

  .cls-147 {
    fill: #dabaff;
    fill-opacity: 0.42;
  }

  .cls-148 {
    fill: url(#linear-gradient-107);
  }

  .cls-149 {
    fill: url(#linear-gradient-108);
  }

  .cls-150 {
    fill: url(#linear-gradient-109);
  }

  .cls-151 {
    fill: url(#linear-gradient-110);
  }

  .cls-153 {
    fill: url(#linear-gradient-111);
  }

  .cls-154 {
    fill: #70f;
  }

  .cls-155 {
    clip-path: url(#clip-path-2);
  }

  .cls-157, .cls-181 {
    stroke-width: 0.33088px;
  }

  .cls-158 {
    stroke-width: 0.32253px;
  }

  .cls-159 {
    stroke: #cecece;
  }

  .cls-160 {
    fill: url(#linear-gradient-112);
  }

  .cls-161 {
    fill: url(#linear-gradient-113);
  }

  .cls-162 {
    fill: url(#linear-gradient-114);
  }

  .cls-163 {
    fill: url(#linear-gradient-115);
  }

  .cls-164 {
    fill: #cca9ff;
  }

  .cls-165 {
    stroke: #70f;
  }

  .cls-166 {
    fill: url(#linear-gradient-117);
  }

  .cls-167 {
    fill: url(#linear-gradient-121);
  }

  .cls-168 {
    fill: url(#linear-gradient-122);
  }

  .cls-169 {
    fill: url(#linear-gradient-123);
  }

  .cls-170 {
    fill: url(#linear-gradient-124);
  }

  .cls-171 {
    fill: url(#linear-gradient-125);
  }

  .cls-172 {
    fill: url(#linear-gradient-126);
  }

  .cls-173 {
    fill: url(#linear-gradient-133);
  }

  .cls-175 {
    fill: url(#linear-gradient-134);
  }

  .cls-176 {
    fill: url(#linear-gradient-135);
  }

  .cls-177 {
    fill: url(#linear-gradient-136);
  }

  .cls-178 {
    fill: url(#linear-gradient-137);
  }

  .cls-179 {
    fill: url(#linear-gradient-138);
  }

  .cls-180 {
    fill: url(#linear-gradient-139);
  }

  .cls-182 {
    fill: url(#linear-gradient-140);
  }

  .cls-183 {
    fill: url(#linear-gradient-141);
  }

  .cls-184 {
    fill: url(#linear-gradient-143);
  }

  .cls-185 {
    fill: #e9ddf7;
  }

  .cls-186 {
    fill: url(#linear-gradient-148);
  }

  .cls-188 {
    fill: url(#linear-gradient-150);
  }

  .cls-189 {
    stroke: #ff4f12;
    stroke-width: 0.98147px;
  }
}