#interior_public {
.cls-1, .cls-157, .cls-30 {
  fill: none;
}

  .cls-2 {
    isolation: isolate;
  }

  .cls-16, .cls-3 {
    fill: #f6f6f6;
  }

  .cls-101, .cls-105, .cls-106, .cls-108, .cls-119, .cls-120, .cls-121, .cls-122, .cls-123, .cls-124, .cls-125, .cls-126, .cls-127, .cls-128, .cls-14, .cls-15, .cls-3, .cls-30, .cls-33, .cls-86, .cls-87 {
    stroke: #575d68;
  }

  .cls-100, .cls-101, .cls-105, .cls-106, .cls-108, .cls-116, .cls-119, .cls-120, .cls-121, .cls-122, .cls-123, .cls-124, .cls-125, .cls-126, .cls-127, .cls-128, .cls-14, .cls-15, .cls-157, .cls-3, .cls-30, .cls-33, .cls-80, .cls-86, .cls-87, .cls-99 {
    stroke-miterlimit: 10;
  }

  .cls-100, .cls-101, .cls-105, .cls-106, .cls-108, .cls-116, .cls-119, .cls-120, .cls-121, .cls-122, .cls-123, .cls-124, .cls-125, .cls-126, .cls-127, .cls-128, .cls-14, .cls-15, .cls-3, .cls-30, .cls-33, .cls-80, .cls-86, .cls-87, .cls-99 {
    stroke-width: 0.4px;
  }

  .cls-33, .cls-4 {
    fill: #dddedf;
  }

  .cls-5 {
    fill: url(#radial-gradient-2);
  }

  .cls-6 {
    fill: url(#linear-gradient-2);
  }

  .cls-7 {
    fill: url(#linear-gradient-2-2);
  }

  .cls-8 {
    fill: url(#linear-gradient-2-3);
  }

  .cls-9 {
    fill: url(#linear-gradient-2-4);
  }

  .cls-10 {
    fill: url(#linear-gradient-2-5);
  }

  .cls-11 {
    fill: url(#linear-gradient-2-6);
  }

  .cls-12 {
    fill: url(#linear-gradient-2-7);
  }

  .cls-13 {
    fill: #adadad;
  }

  .cls-139, .cls-14 {
    fill: #e9eaeb;
  }

  .cls-15 {
    fill: #e9ddf7;
  }

  .cls-17 {
    fill: #ff7752;
  }

  .cls-102, .cls-103, .cls-104, .cls-107, .cls-109, .cls-110, .cls-111, .cls-112, .cls-113, .cls-114, .cls-115, .cls-117, .cls-118, .cls-129, .cls-130, .cls-131, .cls-132, .cls-133, .cls-134, .cls-135, .cls-136, .cls-137, .cls-138, .cls-139, .cls-144, .cls-145, .cls-146, .cls-147, .cls-148, .cls-149, .cls-150, .cls-152, .cls-156, .cls-18, .cls-19, .cls-29, .cls-31, .cls-32, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-39, .cls-40, .cls-41, .cls-47, .cls-48, .cls-49, .cls-52, .cls-53, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-63, .cls-64, .cls-65, .cls-66, .cls-67, .cls-68, .cls-69, .cls-70, .cls-71, .cls-72, .cls-73, .cls-74, .cls-75, .cls-76, .cls-77, .cls-78, .cls-79, .cls-81, .cls-82, .cls-89, .cls-90, .cls-92, .cls-93, .cls-94, .cls-95, .cls-96, .cls-98 {
    mix-blend-mode: multiply;
  }

  .cls-18 {
    fill: url(#linear-gradient-2-8);
  }

  .cls-19 {
    fill: url(#linear-gradient-2-9);
  }

  .cls-20 {
    fill: url(#radial-gradient-2-2);
  }

  .cls-21 {
    fill: url(#linear-gradient-2-10);
  }

  .cls-22 {
    fill: url(#linear-gradient-2-11);
  }

  .cls-23 {
    fill: url(#linear-gradient-2-12);
  }

  .cls-24 {
    fill: url(#linear-gradient-2-13);
  }

  .cls-25 {
    fill: url(#linear-gradient-2-14);
  }

  .cls-26 {
    fill: url(#linear-gradient-2-15);
  }

  .cls-27 {
    fill: url(#linear-gradient-2-16);
  }

  .cls-28 {
    fill: url(#linear-gradient-2-17);
  }

  .cls-29 {
    fill: url(#linear-gradient-2-18);
  }

  .cls-31 {
    fill: url(#linear-gradient-2-19);
  }

  .cls-32 {
    fill: url(#linear-gradient-2-20);
  }

  .cls-34 {
    fill: url(#linear-gradient-2-21);
  }

  .cls-35 {
    fill: url(#linear-gradient-2-22);
  }

  .cls-36 {
    fill: url(#linear-gradient-2-23);
  }

  .cls-37 {
    fill: url(#linear-gradient-2-24);
  }

  .cls-38 {
    fill: url(#linear-gradient-2-25);
  }

  .cls-39 {
    fill: url(#linear-gradient-2-26);
  }

  .cls-40 {
    fill: url(#linear-gradient-2-27);
  }

  .cls-42 {
    fill: url(#linear-gradient-2-28);
  }

  .cls-43 {
    fill: url(#linear-gradient-2-29);
  }

  .cls-44 {
    fill: url(#linear-gradient-2-30);
  }

  .cls-45 {
    fill: url(#linear-gradient-2-31);
  }

  .cls-46 {
    fill: url(#linear-gradient-2-32);
  }

  .cls-47 {
    fill: url(#linear-gradient-2-33);
  }

  .cls-48 {
    fill: url(#linear-gradient-2-34);
  }

  .cls-49 {
    fill: url(#linear-gradient-2-35);
  }

  .cls-50 {
    clip-path: url(#clip-path-2);
  }

  .cls-51 {
    opacity: 0.32;
  }

  .cls-52 {
    fill: url(#linear-gradient-2-36);
  }

  .cls-53 {
    fill: url(#linear-gradient-2-37);
  }

  .cls-54 {
    fill: url(#linear-gradient-2-38);
  }

  .cls-55 {
    fill: url(#linear-gradient-2-39);
  }

  .cls-56 {
    fill: url(#linear-gradient-2-40);
  }

  .cls-57 {
    fill: url(#linear-gradient-2-41);
  }

  .cls-58 {
    fill: url(#linear-gradient-2-42);
  }

  .cls-59 {
    fill: url(#linear-gradient-2-43);
  }

  .cls-60 {
    fill: url(#linear-gradient-2-44);
  }

  .cls-61 {
    fill: url(#linear-gradient-2-45);
  }

  .cls-62 {
    fill: url(#linear-gradient-2-46);
  }

  .cls-63 {
    fill: url(#linear-gradient-2-47);
  }

  .cls-64 {
    fill: url(#linear-gradient-2-48);
  }

  .cls-65 {
    fill: url(#linear-gradient-2-49);
  }

  .cls-66 {
    fill: url(#linear-gradient-2-50);
  }

  .cls-67 {
    fill: url(#linear-gradient-2-51);
  }

  .cls-68 {
    fill: url(#linear-gradient-2-52);
  }

  .cls-69 {
    fill: url(#linear-gradient-2-53);
  }

  .cls-70 {
    fill: url(#linear-gradient-2-54);
  }

  .cls-71 {
    fill: url(#linear-gradient-2-55);
  }

  .cls-72 {
    fill: url(#linear-gradient-2-56);
  }

  .cls-73 {
    fill: url(#linear-gradient-2-57);
  }

  .cls-74 {
    fill: url(#linear-gradient-2-58);
  }

  .cls-75 {
    fill: url(#linear-gradient-2-59);
  }

  .cls-76 {
    fill: url(#linear-gradient-2-60);
  }

  .cls-77 {
    fill: url(#linear-gradient-2-61);
  }

  .cls-78 {
    fill: url(#linear-gradient-2-62);
  }

  .cls-79 {
    fill: url(#linear-gradient-2-63);
  }

  .cls-100, .cls-116, .cls-80, .cls-99 {
    stroke: #333;
  }

  .cls-80 {
    fill: url(#linear-gradient-2-67);
  }

  .cls-117, .cls-118, .cls-81, .cls-82 {
    opacity: 0.5;
  }

  .cls-81 {
    fill: url(#linear-gradient-2-68);
  }

  .cls-82 {
    fill: url(#linear-gradient-2-69);
  }

  .cls-83, .cls-86 {
    fill: #ff4f12;
  }

  .cls-84 {
    fill: #70f;
  }

  .cls-85 {
    fill: url(#linear-gradient-2-70);
  }

  .cls-87, .cls-88 {
    fill: #f8d5c8;
  }

  .cls-89 {
    fill: url(#linear-gradient-2-71);
  }

  .cls-90 {
    fill: url(#linear-gradient-2-72);
  }

  .cls-91, .cls-98 {
    fill: url(#linear-gradient-2-73);
  }

  .cls-92 {
    fill: url(#linear-gradient-2-74);
  }

  .cls-93 {
    fill: url(#linear-gradient-2-75);
  }

  .cls-94 {
    fill: url(#linear-gradient-2-76);
  }

  .cls-95 {
    fill: url(#linear-gradient-2-77);
  }

  .cls-96 {
    fill: url(#linear-gradient-2-78);
  }

  .cls-97 {
    fill: #7800ff;
  }

  .cls-99 {
    fill: url(#linear-gradient-2-86);
  }

  .cls-100 {
    fill: url(#linear-gradient-2-87);
  }

  .cls-101 {
    fill: #afafaf;
  }

  .cls-102 {
    fill: url(#linear-gradient-2-88);
  }

  .cls-103 {
    fill: url(#linear-gradient-2-89);
  }

  .cls-104 {
    fill: url(#linear-gradient-2-90);
  }

  .cls-105, .cls-143, .cls-154 {
    fill: #fff;
  }

  .cls-106 {
    fill: #eeeeef;
  }

  .cls-107 {
    fill: #575d68;
    opacity: 0.16;
  }

  .cls-108 {
    fill: #fafafa;
  }

  .cls-109 {
    fill: url(#linear-gradient-2-91);
  }

  .cls-110 {
    fill: url(#linear-gradient-2-92);
  }

  .cls-111 {
    fill: url(#linear-gradient-2-93);
  }

  .cls-112 {
    fill: url(#linear-gradient-2-94);
  }

  .cls-113 {
    fill: url(#linear-gradient-2-95);
  }

  .cls-114 {
    fill: url(#linear-gradient-2-96);
  }

  .cls-115 {
    fill: url(#linear-gradient-2-97);
  }

  .cls-116 {
    fill: url(#linear-gradient-2-98);
  }

  .cls-117 {
    fill: url(#linear-gradient-2-106);
  }

  .cls-118 {
    fill: url(#linear-gradient-2-107);
  }

  .cls-119 {
    fill: #f7bdaa;
  }

  .cls-120 {
    fill: url(#linear-gradient-2-108);
  }

  .cls-121 {
    fill: url(#linear-gradient-2-109);
  }

  .cls-122 {
    fill: url(#linear-gradient-2-110);
  }

  .cls-123 {
    fill: url(#linear-gradient-2-111);
  }

  .cls-124 {
    fill: url(#linear-gradient-2-112);
  }

  .cls-125 {
    fill: url(#linear-gradient-2-113);
  }

  .cls-126 {
    fill: url(#linear-gradient-2-114);
  }

  .cls-127 {
    fill: url(#linear-gradient-2-115);
  }

  .cls-128 {
    fill: url(#linear-gradient-2-116);
  }

  .cls-129 {
    fill: url(#linear-gradient-2-117);
  }

  .cls-130 {
    fill: url(#linear-gradient-2-118);
  }

  .cls-131 {
    fill: url(#linear-gradient-2-119);
  }

  .cls-132 {
    fill: url(#linear-gradient-2-120);
  }

  .cls-133 {
    fill: url(#linear-gradient-2-121);
  }

  .cls-134 {
    fill: url(#linear-gradient-2-122);
  }

  .cls-135 {
    fill: url(#linear-gradient-2-124);
  }

  .cls-136 {
    fill: url(#linear-gradient-2-125);
  }

  .cls-137 {
    fill: url(#linear-gradient-2-126);
  }

  .cls-138 {
    fill: url(#linear-gradient-2-128);
  }

  .cls-140, .cls-154 {
    opacity: 0.67;
  }

  .cls-141 {
    clip-path: url(#clip-path-2-2);
  }

  .cls-142 {
    opacity: 0.57;
  }

  .cls-144 {
    fill: url(#linear-gradient-2-129);
  }

  .cls-145 {
    fill: url(#linear-gradient-2-130);
  }

  .cls-146 {
    fill: url(#linear-gradient-2-131);
  }

  .cls-147 {
    fill: url(#linear-gradient-2-132);
  }

  .cls-148 {
    fill: url(#linear-gradient-2-133);
  }

  .cls-149 {
    fill: url(#linear-gradient-2-134);
  }

  .cls-150 {
    fill: url(#linear-gradient-2-135);
  }

  .cls-151 {
    fill: #383838;
  }

  .cls-152 {
    fill: url(#linear-gradient-2-136);
  }

  .cls-153 {
    fill: #ff5400;
  }

  .cls-155 {
    clip-path: url(#clip-path-2-3);
  }

  .cls-156 {
    fill: url(#linear-gradient-2-137);
  }

  .cls-157 {
    stroke: #ff4f12;
    stroke-width: 0.98147px;
  }
}