#interior_home {
.cls-1, .cls-133, .cls-4, .cls-78 {
  fill: none;
}

  .cls-2 {
    isolation: isolate;
  }

  .cls-3 {
    fill: #eaeaea;
  }

  .cls-107, .cls-123, .cls-124, .cls-4, .cls-43, .cls-46, .cls-47, .cls-48, .cls-5, .cls-6, .cls-64, .cls-78, .cls-82, .cls-90, .cls-97 {
    stroke: #575d68;
  }

  .cls-103, .cls-104, .cls-107, .cls-123, .cls-124, .cls-133, .cls-4, .cls-43, .cls-46, .cls-47, .cls-48, .cls-5, .cls-6, .cls-64, .cls-65, .cls-78, .cls-82, .cls-90, .cls-97 {
    stroke-miterlimit: 10;
  }

  .cls-103, .cls-104, .cls-107, .cls-123, .cls-124, .cls-4, .cls-43, .cls-46, .cls-47, .cls-48, .cls-5, .cls-6, .cls-64, .cls-65, .cls-82, .cls-90, .cls-97 {
    stroke-width: 0.4px;
  }

  .cls-131, .cls-5 {
    fill: #e9eaeb;
  }

  .cls-52, .cls-6 {
    fill: #f6f6f6;
  }

  .cls-100, .cls-101, .cls-102, .cls-105, .cls-106, .cls-109, .cls-110, .cls-111, .cls-112, .cls-113, .cls-114, .cls-115, .cls-116, .cls-117, .cls-118, .cls-119, .cls-121, .cls-122, .cls-125, .cls-127, .cls-128, .cls-129, .cls-130, .cls-15, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-39, .cls-40, .cls-41, .cls-42, .cls-44, .cls-49, .cls-53, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-63, .cls-67, .cls-68, .cls-69, .cls-7, .cls-70, .cls-71, .cls-72, .cls-73, .cls-74, .cls-75, .cls-76, .cls-77, .cls-8, .cls-81, .cls-83, .cls-84, .cls-87, .cls-88, .cls-89, .cls-93, .cls-94, .cls-95, .cls-96, .cls-98, .cls-99 {
    mix-blend-mode: multiply;
  }

  .cls-7 {
    fill: url(#linear-gradient-1);
  }

  .cls-9 {
    fill: url(#linear-gradient-1-2);
  }

  .cls-10 {
    fill: url(#linear-gradient-1-3);
  }

  .cls-11 {
    fill: url(#linear-gradient-1-4);
  }

  .cls-12 {
    fill: url(#linear-gradient-1-5);
  }

  .cls-13 {
    fill: url(#linear-gradient-1-8);
  }

  .cls-14 {
    fill: url(#linear-gradient-1-11);
  }

  .cls-15 {
    fill: url(#linear-gradient-1-12);
  }

  .cls-16 {
    opacity: 0.32;
  }

  .cls-17 {
    clip-path: url(#clip-path-1);
  }

  .cls-18 {
    fill: url(#linear-gradient-1-13);
  }

  .cls-19 {
    fill: url(#linear-gradient-1-14);
  }

  .cls-20 {
    fill: url(#linear-gradient-1-15);
  }

  .cls-21 {
    fill: url(#linear-gradient-1-16);
  }

  .cls-22 {
    fill: url(#linear-gradient-1-17);
  }

  .cls-23 {
    fill: url(#linear-gradient-1-18);
  }

  .cls-24 {
    fill: url(#linear-gradient-1-19);
  }

  .cls-25 {
    fill: url(#linear-gradient-1-20);
  }

  .cls-26 {
    fill: url(#linear-gradient-1-21);
  }

  .cls-27 {
    fill: url(#linear-gradient-1-22);
  }

  .cls-28 {
    fill: url(#linear-gradient-1-23);
  }

  .cls-29 {
    fill: url(#linear-gradient-1-24);
  }

  .cls-30 {
    fill: url(#linear-gradient-1-25);
  }

  .cls-31 {
    fill: url(#linear-gradient-1-26);
  }

  .cls-32 {
    fill: url(#linear-gradient-1-27);
  }

  .cls-33 {
    fill: url(#linear-gradient-1-28);
  }

  .cls-34 {
    fill: url(#linear-gradient-1-29);
  }

  .cls-35 {
    fill: url(#linear-gradient-1-30);
  }

  .cls-36 {
    fill: url(#linear-gradient-1-31);
  }

  .cls-37 {
    fill: url(#linear-gradient-1-32);
  }

  .cls-38 {
    fill: url(#linear-gradient-1-33);
  }

  .cls-39 {
    fill: url(#linear-gradient-1-34);
  }

  .cls-40 {
    fill: url(#linear-gradient-1-35);
  }

  .cls-41 {
    fill: url(#linear-gradient-1-36);
  }

  .cls-42 {
    fill: url(#linear-gradient-1-37);
  }

  .cls-43, .cls-91 {
    fill: #dddedf;
  }

  .cls-44 {
    opacity: 0.05;
  }

  .cls-45 {
    fill: #575d68;
  }

  .cls-46, .cls-47 {
    fill: #fff;
  }

  .cls-47 {
    opacity: 0.1;
  }

  .cls-48 {
    fill: #eeeeef;
  }

  .cls-49 {
    fill: url(#linear-gradient-1-38);
  }

  .cls-50 {
    opacity: 0.26;
  }

  .cls-51 {
    clip-path: url(#clip-path-1-2);
  }

  .cls-53 {
    fill: url(#linear-gradient-1-39);
  }

  .cls-128, .cls-54, .cls-82, .cls-97 {
    fill: #afafaf;
  }

  .cls-55 {
    fill: url(#linear-gradient-1-40);
  }

  .cls-56 {
    fill: url(#linear-gradient-1-41);
  }

  .cls-57 {
    fill: url(#linear-gradient-1-42);
  }

  .cls-58 {
    fill: url(#linear-gradient-1-43);
  }

  .cls-59 {
    fill: url(#linear-gradient-1-44);
  }

  .cls-60 {
    fill: url(#linear-gradient-1-45);
  }

  .cls-61 {
    fill: url(#linear-gradient-1-46);
  }

  .cls-62 {
    fill: url(#linear-gradient-1-47);
  }

  .cls-63 {
    fill: url(#linear-gradient-1-48);
  }

  .cls-132, .cls-64, .cls-66 {
    fill: #ff4f12;
  }

  .cls-107, .cls-65 {
    fill: #70f;
  }

  .cls-103, .cls-104, .cls-65 {
    stroke: #333;
  }

  .cls-67 {
    fill: url(#linear-gradient-1-49);
  }

  .cls-68 {
    fill: url(#linear-gradient-1-50);
  }

  .cls-69 {
    fill: url(#linear-gradient-1-51);
  }

  .cls-70 {
    fill: url(#linear-gradient-1-52);
  }

  .cls-71 {
    fill: url(#linear-gradient-1-53);
  }

  .cls-72 {
    fill: url(#linear-gradient-1-54);
  }

  .cls-73 {
    fill: url(#linear-gradient-1-55);
  }

  .cls-74 {
    fill: url(#linear-gradient-1-56);
  }

  .cls-75 {
    fill: url(#linear-gradient-1-57);
  }

  .cls-76 {
    fill: url(#linear-gradient-1-58);
  }

  .cls-77 {
    fill: url(#linear-gradient-1-59);
  }

  .cls-78 {
    stroke-width: 0.25px;
  }

  .cls-79 {
    clip-path: url(#clip-path-1-4);
  }

  .cls-80 {
    fill: #cecece;
  }

  .cls-81 {
    fill: url(#linear-gradient-1-60);
  }

  .cls-83 {
    fill: url(#linear-gradient-1-61);
  }

  .cls-84 {
    fill: url(#linear-gradient-1-62);
  }

  .cls-85 {
    fill: url(#linear-gradient-1-63);
  }

  .cls-86 {
    fill: url(#linear-gradient-1-64);
  }

  .cls-87 {
    fill: url(#linear-gradient-1-65);
  }

  .cls-88 {
    fill: url(#linear-gradient-1-66);
  }

  .cls-89 {
    fill: url(#linear-gradient-1-67);
  }

  .cls-90 {
    fill: #fafafa;
  }

  .cls-92 {
    fill: #b5b5b5;
  }

  .cls-93 {
    fill: url(#linear-gradient-1-68);
  }

  .cls-94 {
    fill: url(#linear-gradient-1-69);
  }

  .cls-95 {
    fill: url(#linear-gradient-1-70);
  }

  .cls-96 {
    fill: url(#linear-gradient-1-71);
  }

  .cls-97 {
    opacity: 0.17;
  }

  .cls-98 {
    fill: url(#linear-gradient-1-72);
  }

  .cls-99 {
    fill: url(#linear-gradient-1-73);
  }

  .cls-100 {
    fill: url(#linear-gradient-1-74);
  }

  .cls-101 {
    fill: url(#linear-gradient-1-75);
  }

  .cls-102 {
    fill: url(#linear-gradient-1-76);
  }

  .cls-103 {
    fill: url(#linear-gradient-1-77);
  }

  .cls-104 {
    fill: url(#linear-gradient-1-78);
  }

  .cls-105, .cls-121, .cls-122 {
    opacity: 0.5;
  }

  .cls-105 {
    fill: url(#radial-gradient-1);
  }

  .cls-106 {
    fill: url(#linear-gradient-1-79);
  }

  .cls-108 {
    clip-path: url(#clip-path-1-5);
  }

  .cls-109 {
    fill: url(#linear-gradient-1-80);
  }

  .cls-110 {
    fill: url(#linear-gradient-1-81);
  }

  .cls-111 {
    fill: url(#linear-gradient-1-82);
  }

  .cls-112 {
    fill: url(#linear-gradient-1-83);
  }

  .cls-113 {
    fill: url(#linear-gradient-1-84);
  }

  .cls-114 {
    fill: url(#linear-gradient-1-85);
  }

  .cls-115 {
    fill: url(#linear-gradient-1-86);
  }

  .cls-116 {
    fill: url(#linear-gradient-1-87);
  }

  .cls-117 {
    fill: url(#linear-gradient-1-88);
  }

  .cls-118 {
    fill: url(#linear-gradient-1-89);
  }

  .cls-119 {
    fill: url(#linear-gradient-1-90);
  }

  .cls-120, .cls-123 {
    fill: #e9ddf7;
  }

  .cls-121 {
    fill: url(#linear-gradient-1-91);
  }

  .cls-122 {
    fill: url(#linear-gradient-1-92);
  }

  .cls-124 {
    fill: url(#linear-gradient-1-97);
  }

  .cls-125 {
    fill: url(#linear-gradient-1-98);
  }

  .cls-126 {
    clip-path: url(#clip-path-1-6);
  }

  .cls-127 {
    fill: url(#linear-gradient-1-99);
  }

  .cls-128 {
    opacity: 0.8;
  }

  .cls-129 {
    fill: url(#linear-gradient-1-100);
  }

  .cls-130 {
    fill: url(#linear-gradient-1-101);
  }

  .cls-132 {
    opacity: 0.3;
  }

  .cls-133 {
    stroke: #ff4f12;
    stroke-width: 0.98147px;
  }
}