@import "interior_home";
@import "interior_office";
@import "interior_public";

.section {
  width: 100%;
  #interior_office {
    position: relative;
    width: 125%;
    left: -26%;
    max-height: 100vh;
    transform: scale(1.05);

    @media (max-width: 900px) {
      display: none;
    }
  }

  &.streets_desktop {
    position: relative;
    & > svg {
      width: 100%;
    }

    @media (max-width: 900px) {

      .streets_desktop_svg {
        display: none;
      }
    }
  }

  .streets_desktop__image--mobile {
    display: none;

    @media (max-width: 900px) {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  #interior_home {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    top: -100px;
    //padding-bottom: 100px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  #interior_public {
    position: relative;
    width: 140%;
    left: -25%;
    transform: scale(1.2);
    top: 100px;
    //top: -15%;
    //height: 100vh;


      //max-height: 100vh;

    //padding-bottom: 100px;

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.wrapper-map {
  max-height: 100vh;
  overflow: hidden;
}

.textProjects {
  display: inline-block;
  position: absolute;
  bottom: 100px;
  //left: 150px;
  font-size: 20px;
  font-weight: bold;
  z-index: 999;
}

.active-map {
  display: none;
  opacity: 0;
  transition: 1s;
  &[data-show] {
    display: block;
    opacity: 1;
    transition: 1s;
  }
}

.circle-button {
  r: 8;
  cursor: pointer;
  transition: 1s;
  z-index: 10001;
  position: relative;
  animation: pulse-circle 2s infinite;

  &[data-show] {
    animation: none;
  }

  &:after {
    content: "";
    r: 12;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }

  + circle {
    opacity: 1;
    transition: 1s;
  }

  &[data-show] {
    border: none;
    outline: none;
    r: 12;
    transition: 1s;
    & + circle {
      opacity: 0;
      transition: 1s;
    }
  }
}

.circle-pulse {
  r: 8;
  fill: rgba(255, 79, 18, 0.59);
  opacity: 1;
  display: none;
  animation: pulse-animation 2s infinite;

  &[data-show] {
    display: block;
  }
}

@keyframes pulse-animation {
  0% {
    r: 8;
  }
  50% {
    opacity: .2;
  }
  100% {
    r: 40;
    opacity: 0;
  }
}

@keyframes pulse-circle {
  0% {
    r: 6;
  }
  100% {
    r: 8;
  }
}