.header {
  position: fixed;
  width: 100%;
  top: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__logo {

    .logo {

      &__link {

      }
    }
  }

  &__menu {
    margin-right: 120px;

    .menu {

      &__item {
        font-weight: 600;
        margin-top: 12px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 19px;
          background-color: $secondaryColor;
          position: absolute;
          top: -2px;
          left: -16px;
        }
      }
    }
  }
}
