.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media (max-width: 768px) {
      margin-top: 17px;
    }
  }

  &__logo {

    .logo {

      &__link {

        svg {
          @media (max-width: 768px) {
            width: 116px;
            height: 30px;
          }
        }
      }
    }
  }

  &__menu {
    margin-right: 120px;

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }

    .menu {

      &__item {
        font-weight: 600;
        margin-top: 12px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 19px;
          background-color: $secondaryColor;
          position: absolute;
          top: -2px;
          left: -16px;
        }
      }

      &__burger {

        display: flex;
        flex-direction: column;

        &.burger {
          position: relative;

          &::after {
            content: '';
            display: block;
            height: 100%;
            background: $secondaryColor;
            width: 1px;
            position: absolute;
            left: -16px;
          }
        }

        .burger {
          &__item {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #000;
            &:not(:first-child) {
              margin-top: 7px;
            }

            &.active {

              &::before {
                content: "";
                display: block;
                width: 5px;
                height: 19px;
                background-color: #FF4F12;
                position: absolute;
                top: auto;
                left: -16px;
              }
            }
          }
        }
      }
    }
  }
}
