@font-face {
	font-family: RostelecomBasis;
	font-display: swap;
	src: url("../fonts/RostelecomBasis-Bold.woff2") format("woff2"), url("../fonts/RostelecomBasis-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RostelecomBasis;
	font-display: swap;
	src: url("../fonts/RostelecomBasis-Light.woff2") format("woff2"), url("../fonts/RostelecomBasis-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: RostelecomBasis;
	font-display: swap;
	src: url("../fonts/RostelecomBasis-Medium.woff2") format("woff2"), url("../fonts/RostelecomBasis-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RostelecomBasis;
	font-display: swap;
	src: url("../fonts/RostelecomBasis-MediumHighlight.woff2") format("woff2"), url("../fonts/RostelecomBasis-MediumHighlight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RostelecomBasis;
	font-display: swap;
	src: url("../fonts/RostelecomBasis-Regular.woff2") format("woff2"), url("../fonts/RostelecomBasis-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTTrailers;
	font-display: swap;
	src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
